.cell {
  width: 48px;
  height: 48px;
  background-color: #fefefe;
  border-radius: 4px;
}

.cell-0 {
  background-color: red;
}

.cell-1 {
  background-color: blue;
}

.cell-2 {
  background-color: black;
}